asgiref==3.8.1
chardet==5.2.0
coverage==7.6.1
Django==5.0.3
django-cors-headers==4.4.0
pillow==10.4.0
PyInvoice==0.1.7
reportlab==4.2.2
sqlparse==0.5.1
tzdata==2024.1
waitress==3.0.0
whitenoise==6.7.0
