{% extends 'app/base.html' %}
{% load static %}

{% block custom_css %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'app/css/form-page.css' %}" />
  <link rel="stylesheet" href="{% static 'app/css/profile.css' %}" />
{% endblock custom_css %}
{% block title %}Profile{% endblock title %}

{% block main-content %}
  <div class="container my-5">
    <div class="row">
      <h3>Welcome <strong class="text-capitalize">{{request.user.username|capfirst}}</strong></h3>
      <div class="col-sm-2">
        <ul class="list-unstyled">
          <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
          <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
        </ul>
      </div>

      <div class="col-sm-9 offset-sm-1">
        <div class="row mb-3">
          <p class="col"><strong>Add multiple shipping addresses</strong></p>
          <button onclick="addBtn()" class="btn btn-primary col-sm-3"><i class="fa fa-plus"></i> Add Address</i></button>
        </div>
        
        <div class="row">

          {% for add in address %}
            <div class="card col-sm-6">
              <h4 class="fw-bold fs-10">Address {{forloop.counter}}</h4>
              <span class="fs-13 d-block"><span class="fw-bold">Name:</span> {{add.name}}</span>
              <span class="fs-13 d-block"><span class="fw-bold">Phone:</span> {{add.phone}}</span>
              <span class="fs-13 d-block"><span class="fw-bold">Address:</span> {{add.locality_address}}</span>
              <span class="fs-13 d-block"><span class="fw-bold">City:</span> {{add.city}}</span>
              <span class="fs-13 d-block"><span class="fw-bold">State:</span> {{add.state}}</span>
              <span class="fs-13 d-block"><span class="fw-bold">Postal Code:</span> {{add.zipcode}}</span>
              <form action="{% url 'delete_customer' id=add.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger shadow-none" type="submit" ><i class="fa fa-trash"></i></button>
              </form>

              
            </div>

          {% empty %}
            <div>There are no Customer addresses added! Click the <strong>Add</strong> button to add new address</div>
          {% endfor %}
        </div>

        <div style="display: none;" id="customer-form" class="col-sm-8 offset-sm-1 pt-5">
          <p class="text-center"><strong>Add new Shipping details</strong></p>
          <form action="" method="post">
            {% csrf_token %}
  
            <!-- Django message -->
            {% if messages %}
              {% for message in messages %}
                  <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
              {% endfor %}
            {% endif %}
  
            <!-- Start For loop-->
            {% for f in form %}
  
              <!-- Input Field -->
              <div class="wrap-input validate-input col-12">
                {{f}}
                
                <span class="focus-input"></span>
                <span class="symbol-input">
                  {% if 'city' in f.id_for_label %}
                    <i class="fas fa-city" aria-hidden="true"></i>
                  {% else %}
                    {% if 'locality' in f.id_for_label %}
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {% else %}
                      {% if 'name' in f.id_for_label %}
                        <i class="fa fa-user" aria-hidden="true"></i>
                      {% else %}
                        {% if 'zipcode' in f.id_for_label %}
                          <i class="fas fa-map-pin" aria-hidden="true"></i>
                        {% else %}
                          {% if 'state' in f.id_for_label %}
                            <i class="fas fa-city" aria-hidden="true"></i>
                          {% else %}
                            {% if 'phone' in f.id_for_label %}
                              <i class="far fa-address-book" aria-hidden="true"></i>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </span>
              </div>
              
              <!-- Input Field Errors -->
              <div class="form-error">
                <small class="form-error text-danger">{{fm.errors|striptags}}</small>
              </div>
              
            {% endfor %}
            <!-- End For loop-->
  
            <!-- Submit Button -->
            <div class="container-form-btn">
              <input type="submit" class="form-btn" value="Create Customer" />
            </div>
          
            <!-- Form Errors -->
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>          
              {% endfor %}
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock main-content %}

{% block custom_js %}
  <script>
    function addBtn() {
      // View the form and scroll to it
      var formDiv = document.getElementById('customer-form');
      formDiv.style.display = 'block';
      formDiv.scrollIntoView();
    }
  </script>
{% endblock custom_js %}
