{% extends 'app/base.html' %}
{% load static %}

{% block custom_css %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'app/css/form-page.css' %}" />
{% endblock custom_css %}
{% block title %}Profile{% endblock title %}

{% block main-content %}
  <div class="container my-5">
    <div class="row">
      <h3>Welcome <strong class="text-capitalize">{{request.user.username|capfirst}}</strong></h3>
      <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
          <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
          <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
        </ul>
      </div>

      <div class="col-sm-9 offset-sm-1">
        <div class="row">

          {% for add in address %}
            <div class="col-sm-6">
              <div class="card">
              <div class="card-body">
                <h3>Address {{forloop.counter}}</h3>
                <p>Name: {{add.name}}</p>
                <p>Phone: {{add.phone}}</p>
                <p>Address: {{add.locality_address}}</p>
                <p>City: {{add.city}}</p>
                <p>State: {{add.state}}</p>
                <p>Postal Code: {{add.zipcode}}</p>

                <form action="{% url 'delete_customer' id=add.id %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-danger shadow-none" type="submit" ><i class="fa fa-trash"></i></button>
                </form>
              </div>
              </div>
            </div>
          {% empty %}
            <div>There are no Customer profiles added!</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock main-content %}
