{% extends 'app/base.html' %}
{% load static %}
{% block custom_css %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'app/css/cart.css' %}" />
{% endblock custom_css %}
{% block title %}Buy{% endblock title %}

{% block main-content %}
  <div class="container">
    <div class="row mt-5">
      <h4 class="text-center mb-5">Order Details</h4>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-3 text-center align-self-center">
            <a href="{% url 'product-detail' product.id %}">
              <img src="{{product.product_image.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150">
            </a>
          </div>

          <div class="col-sm-9">
            <div>
              <h5>{{product.title}}</h5>
              <p class="mb-2 text-muted small">
                Description: <pre>{{product.description}}</pre>
              </p>
              <div class="my-3">
                <label for="quantity">Quantity:</label>

                <button class="minus-item btn shadow-none">
                  <i class="fas fa-minus-square fa-lg"></i>
                </button>

                <span id="quantity">{{quantity}}</span>
                
                <button class="plus-item btn shadow-none">
                  <i class="fas fa-plus-square fa-lg"></i>
                </button>

              </div> 
              <div class="d-flex justify-content-between">
                
                <p class="mb-0">
                  <span><strong>₹ <span id="product-price">{{product.discounted_price}}</span></strong></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3>The Total Amount of</h3>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Amount<span>Rs. <span id="total-amount">{{amounts.totalamount}}</span></span> 
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0 border-0">
                Shipping<span>Rs. <span id="shipping-amount">{{amounts.shippingamount}}</span></span> 
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total</strong> <small>(including VAT)</small>
                </div>
                <span><strong>Rs. <span id="final-amount">{{amounts.finalamount}}</span></strong> 
              </li>
            </ul>

            <form action="/buynowcheckout/" method="POST" id="checkout-form">
              {% csrf_token %}

              <input name="prod_id" id="product_id" type="text" class="d-none bg-warning" value="{{product.id}}">
              <input name="prod_quant" id="prod_quant" type="text" class="d-none bg-warning" value="{{quantity}}">

              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Place Order</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock main-content %}

{% block custom_js %}
  <script>
    var quantInput = document.getElementById("prod_quant");
    var minusBtn = document.getElementsByClassName("minus-item")[0];
    var plusBtn = document.getElementsByClassName("plus-item")[0];
    var quantDisplay = document.getElementById("quantity");

    minusBtn.addEventListener("click", ()=> {
      var quantity = parseInt(quantDisplay.innerText);
      quantity -= 1;
      if (quantity<1) quantity = 1;
      updateQuantity(quantity);
    });

    plusBtn.addEventListener("click", ()=> {
      var quantity = parseInt(quantDisplay.innerText);
      quantity += 1;
      if (quantity>10) quantity = 10;
      updateQuantity(quantity);
    });

    function updateQuantity(quantity) {
      quantDisplay.innerText = quantity.toString();
      quantInput.value = quantity.toString();

      shipAmtEl = document.getElementById("shipping-amount");
      totalAmtEl = document.getElementById("total-amount");
      finalAmtEl = document.getElementById("final-amount");
      priceEl = document.getElementById("product-price");

      shipAmt = parseFloat(shipAmtEl.innerText);
      totalAmt = 0.0;
      finalAmt = 0.0;
      price = parseFloat(document.getElementById("product-price").innerText);

      totalAmt = price * quantity
      if (totalAmt >= 500) shipAmt = 0.0;
      finalAmt = totalAmt + shipAmt;

      shipAmtEl.innerText = shipAmt;
      totalAmtEl.innerText = totalAmt;
      finalAmtEl.innerText = finalAmt;
    }


  </script>
{% endblock custom_js %}
