{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}Password Change Success {% endblock title %} 
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-9 offset-sm-1 text-center">
      {% if request.user.is_authenticated %}
        <h4>Welcome, <span style="font-weight: bolder;">{{request.user.first_name|capfirst}}</span></h4>
        {% else %}
        <span>Account</span>
      {% endif %}
      <h3>Password Changed Successfully!!</h3>
      <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe></div>
      <a href="{% url 'profile' %}" class="btn btn-warning my-3 px-5 fw-bold">Go to Profile</a>
    </div>

  </div>
</div>
{% endblock main-content %}
