{% extends 'app/base.html' %}
{% load static %}

{% block custom_css %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'app/css/form-page.css' %}" />
{% endblock custom_css %}
{% block title %}Sign Up{% endblock title %}

{% block main-content %}
  <!-- Start Main Container -->
  <div class="main-container">
    <!-- Start Card Container -->
    <div class="card-container p-r-95 p-l-130">

      <!-- Start Form -->
      <form action="" method="post" class="form" novalidate>
        <span class="form-title">Create Account</span>

        <!-- Django message -->
        {% if messages %}
          {% for message in messages %}
              <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
          {% endfor %}
        {% endif %}

        {% csrf_token %}

        <!-- Start For loop-->
        {% for f in form %}

          <!-- Input Field -->
          <div class="wrap-input validate-input">
            {{f}}
            
            <span class="focus-input"></span>
            <span class="symbol-input">
              {% if 'username' in f.id_for_label %}
                <i class="fa fa-user" aria-hidden="true"></i>
              {% else %}
                {% if 'password' in f.id_for_label %}
                  <i class="fa fa-lock" aria-hidden="true"></i>
                {% else %}
                  {% if 'email' in f.id_for_label %}
                    <i class="fa fa-envelope " aria-hidden="true"></i>
                  {% endif %}
                {% endif %}
              {% endif %}
            </span>
          </div>
          
          <!-- Input Field Errors -->
          <div class="form-error">
            <small class="form-error text-danger">{{f.errors|striptags}}</small>
          </div>

        {% endfor %}
        <!-- End For loop-->

        <!-- Show Password checkbox -->
        <div class="container-form-showpassword">
          <div onclick="togglePW()">
            <input type="checkbox" onclick="togglePW()" />
            <span>Show Password</span>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="container-form-btn">
          <input type="submit" class="form-btn" value="Register" />
        </div>

        <!-- Login Link div -->
        <div class="text-center p-t-50">
          <span class="txt2">Already have an Account?</span><br/>
          <a class="txt2" href="{% url 'login' %}">
            Login here
            <i class="fa fa-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>

        <!-- Form Errors -->
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>          
          {% endfor %}
        {% endif %}
        
      </form>
      <!-- End Form -->

      <!-- Illustration -->
      <div class="illustration-img js-tilt" data-tilt>
        <img src="{% static 'app/images/illustrations/register_illustration.webp' %}" alt="register illustration" />
      </div>

    </div>
    <!-- End Card Container -->
  </div>
  <!-- End Main Container -->
{% endblock main-content %}

{% block custom_js %}
  <script>
    $(".js-tilt").tilt({
      scale: 1.1,
    });

    // to add show password functionality for confirm password

    function togglePW() {
      var inputBox1 = document.querySelector("input[name=password1]");
      var inputBox2 = document.querySelector("input[name=password2]");
      var checkBox = document.querySelector(
        ".container-form-showpassword input[type=checkbox]"
      );

      if (!checkBox.checked) {
        inputBox1.setAttribute("type", "text");
        inputBox2.setAttribute("type", "text");
        checkBox.checked = true;
      } else {
        inputBox1.setAttribute("type", "password");
        inputBox2.setAttribute("type", "password");
        checkBox.checked = false;
      }
    }
  </script>
{% endblock custom_js %}
