{% extends 'app/base.html' %}
{% load static %}

{% block custom_css %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'app/css/home.css' %}" />
{% endblock custom_css %}
{% block title %}Home{% endblock title %}

{% block carousel_div %}
<!-- Start Carousel -->
  <div
    id="carouselExampleIndicators"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>

    <!-- Start Carousel Inner -->
    <div class="carousel-inner">
      <!-- Carousel Img 1 -->
      <div class="carousel-item active" data-bs-interval="5000">
        <div class="carousel-item-img">
          <!-- <img src="{% static 'app/images/carousel/slide1.png' %}" class="d-block w-100" alt="..." /> -->
          <video autoplay loop preload="" poster="{% static 'app/images/carousel/images/image1.webp' %}" muted width="100%">
            <source src="{% static 'app/images/carousel/videos/video1.mp4' %}" type="video/mp4">
          </video>
        </div>
      </div>

      <!-- Carousel Img 2 -->
      <div class="carousel-item" data-bs-interval="5000">
        <div class="carousel-item-img">
          <!-- <img src="{% static 'app/images/carousel/slide2.jpg' %}" class="d-block w-100" alt="..." /> -->
          <video class="d-block w-100" autoplay loop preload="" poster="{% static 'app/images/carousel/images/image2.jpg' %}" muted width="100%">
            <source src="{% static 'app/images/carousel/videos/video2.webm' %}" type="video/mp4">
          </video>
        </div>
      </div>

      <!-- Carousel Img 3 -->
      <div class="carousel-item" data-bs-interval="5000">
        <div class="carousel-item-img">
          <!-- <img src="{% static 'app/images/carousel/slide3.jpg' %}" class="d-block w-100" alt="..." /> -->
          <video class="d-block w-100" autoplay loop preload="" poster="{% static 'app/images/carousel/images/image3.jpg' %}" muted width="100%">
            <source src="{% static 'app/images/carousel/videos/video3.webm' %}" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <!-- End Carousel Inner -->

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- End Carousel -->
{% endblock carousel_div %}

{% block main-content %}
  <!-- Start Main Container -->
  <div class="main-container">

    <!-- Start First Section -->
    <div class="first-section section">
      <div class="product-list-title">
        <h3>Random Access Memory (RAM)</h3>

        <div class="form-check form-switch">
          <input id="scroll-checkbox1" class="form-check-input autoscroll-checkbox shadow-none" type="checkbox" checked>
          <label class="form-check-label">Scroll</label>
        </div>

      </div>

      <div class="product-list" onmouseover="pauseScroll(1, true)" onmouseout="pauseScroll(1, false)">
        {% for b in ram %}

        <div class="product-card">
          <a href="{% url 'product-detail' b.id %}" class="product-card-btn">
            <div class="item">
              <div class="item-img">
                <img src="{{b.product_image.url}}" alt="" />
              </div>
              <div class="fw-bold title">
                {{b.title}}
              </div>
              <div class="fs-5">₹ {{b.discounted_price}}</div>
              <div class="fs-10 fw-light text-decoration-line-through">
                ₹ {{b.selling_price}}
              </div>

              <div class="btn-container">
                <form action="/add-to-cart" class="d-inline-block">
                  <input type="hidden" name="product_id" value="{{b.id}}" id="product_id">
                  <button type="submit" href="{% url 'add-to-cart' %}" class="btn btn-primary shadow-none">
                    <span>Add to Cart</span>&nbsp;&nbsp;
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </form>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}
      </div>

      <!-- View All Link -->
      <div class="view-all-link">
        <a href="{% url 'ram' %}">View all RAMs &nbsp;<i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
    <!-- End First Section -->

    <!-- Start Second Section -->
    <div class="second-section section">
      <div class="product-list-title">
        <h3>Solid State Drive (SSD)</h3>

        <div class="form-check form-switch">
          <input id="scroll-checkbox2" class="form-check-input autoscroll-checkbox shadow-none" type="checkbox" checked>
          <label class="form-check-label">Scroll</label>
        </div>

      </div>

      <div class="product-list" onmouseover="pauseScroll(2, true)" onmouseout="pauseScroll(2, false)">
        {% for b in solidstatedrive %}

        <div class="product-card">
          <a href="{% url 'product-detail' b.id %}" class="product-card-btn">
            <div class="item">
              <div class="item-img">
                <img src="{{b.product_image.url}}" alt="" />
              </div>
              <div class="fw-bold title">
                {{b.title}}
              </div>
              <div class="fs-5">₹ {{b.discounted_price}}</div>
              <div class="fs-10 fw-light text-decoration-line-through">
                ₹ {{b.selling_price}}
              </div>

              <div class="btn-container">
                <form action="/add-to-cart" class="d-inline-block">
                  <input type="hidden" name="product_id" value="{{b.id}}" id="product_id">
                  <button type="submit" href="{% url 'add-to-cart' %}" class="btn btn-primary shadow-none">
                    <span>Add to Cart</span>&nbsp;&nbsp;
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </form>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}
      </div>

      <!-- View All Link -->
      <div class="view-all-link">
        <a href="{% url 'solidstatedrive' %}">View all SSDs &nbsp;<i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
    <!-- End Second Section -->

    <!-- Start Third Section -->
    <div class="second-section section">
      <div class="product-list-title">
        <h3>Cables</h3>

        <div class="form-check form-switch">
          <input id="scroll-checkbox2" class="form-check-input autoscroll-checkbox shadow-none" type="checkbox" checked>
          <label class="form-check-label">Scroll</label>
        </div>

      </div>

      <div class="product-list" onmouseover="pauseScroll(2, true)" onmouseout="pauseScroll(2, false)">
        {% for b in cables %}

        <div class="product-card">
          <a href="{% url 'product-detail' b.id %}" class="product-card-btn">
            <div class="item">
              <div class="item-img">
                <img src="{{b.product_image.url}}" alt="" />
              </div>
              <div class="fw-bold title">
                {{b.title}}
              </div>
              <div class="fs-5">₹ {{b.discounted_price}}</div>
              <div class="fs-10 fw-light text-decoration-line-through">
                ₹ {{b.selling_price}}
              </div>

              <div class="btn-container">
                <form action="/add-to-cart" class="d-inline-block">
                  <input type="hidden" name="product_id" value="{{b.id}}" id="product_id">
                  <button type="submit" href="{% url 'add-to-cart' %}" class="btn btn-primary shadow-none">
                    <span>Add to Cart</span>&nbsp;&nbsp;
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </form>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}
      </div>

      <!-- View All Link -->
      <div class="view-all-link">
        <a href="{% url 'ram' %}">View all Cables &nbsp;<i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
    <!-- End Third Section -->

    <!-- Start Fourth Section -->
    <div class="second-section section">
      <div class="product-list-title">
        <h3>Motherboards</h3>

        <div class="form-check form-switch">
          <input id="scroll-checkbox2" class="form-check-input autoscroll-checkbox shadow-none" type="checkbox" checked>
          <label class="form-check-label">Scroll</label>
        </div>

      </div>

      <div class="product-list" onmouseover="pauseScroll(2, true)" onmouseout="pauseScroll(2, false)">
        {% for b in motherboard %}

        <div class="product-card">
          <a href="{% url 'product-detail' b.id %}" class="product-card-btn">
            <div class="item">
              <div class="item-img">
                <img src="{{b.product_image.url}}" alt="" />
              </div>
              <div class="fw-bold title">
                {{b.title}}
              </div>
              <div class="fs-5">₹ {{b.discounted_price}}</div>
              <div class="fs-10 fw-light text-decoration-line-through">
                ₹ {{b.selling_price}}
              </div>

              <div class="btn-container">
                <form action="/add-to-cart" class="d-inline-block">
                  <input type="hidden" name="product_id" value="{{b.id}}" id="product_id">
                  <button type="submit" href="{% url 'add-to-cart' %}" class="btn btn-primary shadow-none">
                    <span>Add to Cart</span>&nbsp;&nbsp;
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </form>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}
      </div>

      <!-- View All Link -->
      <div class="view-all-link">
        <a href="{% url 'ram' %}">View all Motherboards &nbsp;<i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
    <!-- End fourth Section -->


  </div>
  <!-- End Main Container -->
{% endblock main-content %}

{% block custom_js %}
  <!-- Custom Slide Script -->
  <script src="{% static 'app/js/homescript.js' %}"></script>
{% endblock custom_js %}
