{% extends 'app/base.html' %}
{% load static %}
{% block custom_css %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'app/css/form-page.css' %}" />
{% endblock custom_css %}
{% block title %}Login{% endblock title %}

{% block main-content %}
  <!-- Start Main Container -->
  <div class="main-container">
    <!-- Start Card Container -->
    <div class="card-container p-l-95 p-r-130">
      
      <!-- Illustration -->
      <div class="illustration-img js-tilt" data-tilt>
        <img src="{% static 'app/images/illustrations/login_illustration.webp' %}" alt="login illustration" />
      </div>


      <!-- Start Form -->
      <form action="" method="post" class="form" novalidate>
        <span class="form-title">Sign In</span>

        {% csrf_token %}

        <!-- Start For loop-->
        {% for f in form %}

          <!-- Input Field -->
          <div class="wrap-input validate-input">
            {{f}}
            
            <span class="focus-input"></span>
            <span class="symbol-input">
              {% if 'username' in f.id_for_label %}
                <i class="fa fa-user" aria-hidden="true"></i>
              {% else %}
                {% if 'password' in f.id_for_label %}
                  <i class="fa fa-lock" aria-hidden="true"></i>
                {% endif %}
              {% endif %}
            </span>
          </div>
          
          <!-- Input Field Errors -->
          <div class="form-error">
            <small class="form-error text-danger">{{fm.errors|striptags}}</small>
          </div>
          
        {% endfor %}
        <!-- End For loop-->

        <!-- Show Password checkbox -->
        <div class="container-form-showpassword">
          <div onclick="togglePW()">
            <input type="checkbox" onclick="togglePW()" />
            <span>Show Password</span>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="container-form-btn">
          <input type="submit" class="form-btn" value="Log In" />
        </div>

        <!-- Forgot Password Link div -->
        <div class="text-center p-t-12">
          <a class="txt1" href="#">Forgot Username / Password? </a>
        </div>

        <!-- Create Account Link div -->
        <div class="text-center p-t-50">
          <span class="txt1">Don't have an Account?</span>
          <a class="txt1" href="{% url 'customerregistration' %}">
            Create one here
            <i class="fa fa-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>

        <!-- Form Errors -->
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>          
          {% endfor %}
        {% endif %}

      </form>
      <!-- End Form -->

    </div>
    <!-- End Card Container -->
  </div>
  <!-- End Main Container -->
{% endblock main-content %}

{% block custom_js %}
  <script>
    $(".js-tilt").tilt({
      scale: 1.1,
    });

    function togglePW() {
      var inputBox = document.querySelector("input[name=password]");
      var checkBox = document.querySelector(
        ".container-form-showpassword input[type=checkbox]"
      );

      if (!checkBox.checked) {
        inputBox.setAttribute("type", "text");
        checkBox.checked = true;
      } else {
        inputBox.setAttribute("type", "password");
        checkBox.checked = false;
      }
    }
  </script>
{% endblock custom_js %}
