{% extends 'app/base.html' %} 
{% load static %} 
{% block title %} Mobiles {% endblock title %} {% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a href="{% url 'mobile' %}" class='list-group-item list-group-item-action' aria-current='true'>All Mobiles</a>

                <a href="{% url 'mobiledata' 'SAMSUNG' %}" class='list-group-item list-group-item-action' aria-current='true'>Samsung</a>

                <a href="{% url 'mobiledata' 'REDMI' %}" class='list-group-item list-group-item-action' aria-current='true'>Redmi</a>

                <a href="{% url 'mobiledata' 'below10000' %}" class='list-group-item list-group-item-action' aria-current='true'>Below 10000</a>

                <a href="{% url 'mobiledata' 'above10000' %}" class='list-group-item list-group-item-action' aria-current='true'>Above 10000</a>

                {% comment %} <a href="{% url 'mobiledata' 'below' %}" class='list-group-item list-group-item-action' aria-current='true'>Below 10000</a> {% endcomment %}

                {% comment %} <a href="{% url 'mobiledata' 'redmi' %}" class='list-group-item list-group-item-action' aria-current='true'>Redmi</a>

                <a href="{% url 'mobiledata' 'redmi' %}" class='list-group-item list-group-item-action' aria-current='true'>Redmi</a> {% endcomment %}
            </div>
        </div>

        <div class="col-sm-8">
            <div class='row'>
                {% for product in mobiles %}
                    <div class='col-sm-4 text-center mb-4'>
                        <a href="{% url 'product-detail' product.id %}" class='btn'>
                            <div class="item">
                                <img src="{{product.product_image.url}}" height="300">
                                <div class="fw-bold">{{product.title}}</div>
                                <div class="fw-bold">₹ {{product.discounted_price}}</div>
                                <div class="fw-light text-decoration-line-through">₹ {{product.selling_price}}</div>
                            </div>
                        </a>
                    </div>
                
                {% endfor %}
            </div>
        
        </div>
    </div>
</div>
{% endblock main-content %}
