{% extends 'app/base.html' %}
{% load static %}

{% block custom_css %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'app/css/form-page.css' %}" />
{% endblock custom_css %}
{% block title %}Profile{% endblock title %}

{% block main-content %}
  <div class="container my-5">
    <div class="row">
      <h3>Welcome <strong class="text-capitalize">{{request.user.username|capfirst}}</strong></h3>
      <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
          <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{active}}">Profile</a></li>
          <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
        </ul>
      </div>
      <div class="col-sm-8 offset-sm-1">
        <form action="" method="post">
          {% csrf_token %}

          <!-- Django message -->
          {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
            {% endfor %}
          {% endif %}

          <!-- Start For loop-->
          {% for f in form %}

            <!-- Input Field -->
            <div class="wrap-input validate-input col-12">
              {{f}}
              
              <span class="focus-input"></span>
              <span class="symbol-input">
                {% if 'city' in f.id_for_label %}
                  <i class="fas fa-city" aria-hidden="true"></i>
                {% else %}
                  {% if 'locality' in f.id_for_label %}
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  {% else %}
                    {% if 'name' in f.id_for_label %}
                      <i class="fa fa-user" aria-hidden="true"></i>
                    {% else %}
                      {% if 'zipcode' in f.id_for_label %}
                        <i class="fas fa-map-pin" aria-hidden="true"></i>
                      {% else %}
                        {% if 'state' in f.id_for_label %}
                          <i class="fas fa-city" aria-hidden="true"></i>
                        {% else %}
                          {% if 'phone' in f.id_for_label %}
                            <i class="far fa-address-book" aria-hidden="true"></i>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </span>
            </div>
            
            <!-- Input Field Errors -->
            <div class="form-error">
              <small class="form-error text-danger">{{fm.errors|striptags}}</small>
            </div>
            
          {% endfor %}
          <!-- End For loop-->

          <!-- Submit Button -->
          <div class="container-form-btn">
            <input type="submit" class="form-btn" value="Create Customer" />
          </div>
        
          <!-- Form Errors -->
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <p class="alert alert-danger my-3">{{error}}</p>          
            {% endfor %}
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock main-content %}
