{% extends 'app/base.html' %}
{% load static %}

{% block custom_css %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'app/css/form-page.css' %}" />
  <link rel="stylesheet" href="{% static 'app/css/profile.css' %}" />
{% endblock custom_css %}
{% block title %}Profile{% endblock title %}

{% block main-content %}
  <div class="container my-5">
    <div class="row">
      <h3>Welcome <strong class="text-capitalize">{{request.user.first_name|capfirst}}</strong></h3>
      <div class="col-sm-2">
        <ul class="list-unstyled">
          <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{active}}">Profile</a></li>
          <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
        </ul>
      </div>

      <div class="col-sm-8 offset-sm-1">
        <p class="mb-5"><span>User Profile settings</span></p>
        <div class="row mb-3">
          <p class="col"><strong>Change your current password</strong></p>
          <button onclick="location.href='/changepassword'" class="btn btn-primary col">Change Password</i></button>
        </div>
      </div>

    </div>
  </div>
{% endblock main-content %}
