{% extends 'app/base.html' %}
{% load static %}

{% block custom_css %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'app/css/form-page.css' %}" />
{% endblock custom_css %}
{% block title %}Password Reset Success{% endblock title %}

{% block main-content %}
  <h3>Password Reset Successfully!!</h3>
  <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe></div>
  <p>Your Password has been reset successfully!</p>
  <p><a href="{% url 'login' %}">Log in</a> to continue.</p>
{% endblock main-content %}
