/* Global Properties */
:root {
  /* Light theme color palette */
  --primary-light: #9053c7; /* theme color */
  --secondary-light: #fff; /* secondary item background and text color for buttons */
  --tertiary-light: #57b846; /* button backgrounds */
  --quaternary-light: #000; /* text color */
  --quinary-light: #e9e9e9;

  --senary-light: #333333;
  --septenary-light: #666666;
}

/*********** Fonts ***********/
@font-face {
  font-family: Poppins-Regular;
  src: local(Poppins-regular), url("../fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-Bold;
  src: local(Poppins-bold), url("../fonts/poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-Medium;
  src: local(Poppins-medium), url("../fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  src: local(Montserrat-bold), url("../fonts/montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Fira-Sans-Regular;
  src: local(Fira-sans-regular), url("../fonts/fira-sans/FiraSans-Regular.ttf");
}
@font-face {
  font-family: Fira-Sans-Bold;
  src: local(Fira-sans-bold), url("../fonts/fira-sans/FiraSans-Bold.ttf");
}
@font-face {
  font-family: Fira-Sans-Medium;
  src: local(Fira-sans-medium), url("../fonts/fira-sans/FiraSans-Medium.ttf");
}
@font-face {
  font-family: Fira-Sans-Light;
  src: local(Fira-sans-light), url("../fonts/fira-sans/FiraSans-Light.ttf");
}

/********* Universal Styles ***********/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}
body {
  transition: background-color 0.3s;
}
main {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 65px;
}

/*********** Default styles ***********/
input {
  outline: none;
  border: none;
}
input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
input::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
input::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}
button {
  outline: none !important;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: var(--tertiary-light);
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
}
a:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
  color: var(--tertiary-light);
}

/*********** Navigation Bar ***********/
.navbar {
  padding: 0 10px;
  padding-right: 60px;
  z-index: 100;
  background: var(--primary-light);
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  opacity: 90%;
  backdrop-filter: blur(5px);
}
.navbar-brand {
  font-family: Poppins-Bold;
  font-size: 1.3rem;
  line-height: 1.2;
  display: inline;
  padding: 20px 20px;
  color: rgba(10, 60, 150, 0.8);
  text-shadow: rgb(245 245 245 / 60%) 0px 1px 10px;
}
.search-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: var(--secondary-light);
  text-transform: uppercase;
  border-radius: 50px;
  background: var(--tertiary-light);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.search-btn:hover {
  background: var(--senary-light);
  color: var(--quinary-light);
}
.nav-link {
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .navbar-brand {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0;
  }
  .navbar {
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 10px;
  }
  .dropdown-menu {
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }
  .dropdown-menu li a {
    color: #e6e6e6;
  }
  .navbar-nav.account {
    padding-top: 30px;
  }
}
@media (max-width: 991px) {
  .navbar-brand {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0;
  }
  .navbar {
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 10px;
  }
  .dropdown-menu {
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }
  .dropdown-menu li a {
    color: #e6e6e6;
  }
  .navbar-nav.account {
    padding-top: 30px;
  }
}

/*********** Footer Styles ***********/
footer {
  width: 100%;
  background-color: var(--quinary-light);
  font-family: Fira-Sans-Light;
}
/* Footer attribution styles */
footer .attribution {
  text-align: center;
  padding-bottom: 10px;
}
footer .container .sub-section {
  padding: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .container .sub-section .fa {
  font-size: 4em;
  margin: 0.2em;
}
footer a {
  font-family: Fira-Sans-Light;
  font-size: 1.1em;
}

/*********** Dark Mode Toggle button ***********/
.darkmode-toggler-container {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 10vh;
  padding: 5px;
}
.darkmode-toggler-container span {
  padding: 4px;
}
#darkmode-toggler {
  display: none;
}
.sun-icon,
.moon-icon {
  transition: 0.3s transform;
  position: absolute;
}
.moon-icon {
  transform: scale(0);
}
.sun-icon {
  transform: scale(1);
}

/*********** Utility Styles ***********/
.p-t-12 {
  padding-top: 12px;
}
.p-t-50 {
  padding-top: 50px;
}
.p-r-130 {
  padding-right: 130px;
}
.p-r-95 {
  padding-right: 95px;
}
.p-l-130 {
  padding-left: 130px;
}
.p-l-95 {
  padding-left: 95px;
}
.m-l-10 {
  margin-left: 10px;
}

/* ************ Back To Top Button ************ */
#scrolltotop {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: var(--primary-light);
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  height: 38px;
  font-size: 1.2em;
  color: var(--secondary-light);
  display: flex;
  align-items: center;
  text-align: center;
}

/*********** ANIMATED X toggler button ***********/
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
.navbar-toggler.x .icon-bar {
  width: 22px;
  display: block;
  height: 2px;
  background-color: var(--secondary-light);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggler.x .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggler.x .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggler.x .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.x .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggler.x {
  border: none;
}
