/*********** Fonts ***********/
@font-face {
  font-family: Poppins-Regular;
  src: local(Poppins-regular), url("../fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-Bold;
  src: local(Poppins-bold), url("../fonts/poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-Medium;
  src: local(Poppins-medium), url("../fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  src: local(Montserrat-bold), url("../fonts/montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Fira-Sans-Regular;
  src: local(Fira-sans-regular), url("../fonts/fira-sans/FiraSans-Regular.ttf");
}
@font-face {
  font-family: Fira-Sans-Bold;
  src: local(Fira-sans-bold), url("../fonts/fira-sans/FiraSans-Bold.ttf");
}
@font-face {
  font-family: Fira-Sans-Medium;
  src: local(Fira-sans-medium), url("../fonts/fira-sans/FiraSans-Medium.ttf");
}
@font-face {
  font-family: Fira-Sans-Light;
  src: local(Fira-sans-light), url("../fonts/fira-sans/FiraSans-Light.ttf");
}


/********* Universal Styles ***********/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}
main {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

/*********** Default styles ***********/
input {
  outline: none;
  border: none;
}
input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
input::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
input::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}
button {
  outline: none !important;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #57b846;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
}
a:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
  color: #57b846;
}



/*********** Navigation Bar ***********/
.navbar {
  padding: 0 70px;
  z-index: 100;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.navbar-brand {
  font-family: Poppins-Bold;
  font-size: 24px;
  line-height: 1.2;
  display: inline;
  padding: 20px 20px;
}
.search-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.search-btn:hover {
  background: #333333;
  color: #e6e6e6;
}
.nav-link{
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .navbar-brand {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0;
  }
  .navbar {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .dropdown-menu {
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }
  .dropdown-menu li a {
    color: #e6e6e6;
  }
  .navbar-nav.account{
    padding-top: 30px;
  }
}


/*********** Footer Styles ***********/
footer {
  width: 100%;
  background-color: rgb(233, 233, 233);
  font-family: Fira-Sans-Light;
}
/* Footer attribution styles */
footer .attribution {
  text-align: center;
  padding-bottom: 10px;
}
footer .container .sub-section {
  padding: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .container .sub-section .fa {
  font-size: 4em;
  margin: 0.2em;
}


/*********** Utility Styles ***********/
.p-t-12 {
  padding-top: 12px;
}
.p-t-50 {
  padding-top: 50px;
}
.p-r-130{
  padding-right: 130px;
}
.p-r-95{
  padding-right: 95px;
}
.p-l-130{
  padding-left: 130px;
}
.p-l-95{
  padding-left: 95px;
}
.m-l-10{
  margin-left: 10px;
}

/*********** ANIMATED X toggler button ***********/
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
.navbar-toggler.x .icon-bar {
  width: 22px;
  display: block;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggler.x .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggler.x .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggler.x .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.x .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggler.x{
  border: none;
}
