.darkmode-toggler-container {
  position: fixed;
  left: 0;
  bottom: 10vh;
  padding: 5px;
}
/*********** Toggle button ***********/
.darkmode-toggler-container input:checked {
  border: 10px;
  background-color: #9053c7;
}
.darkmode-toggler-container input:focus:not(:checked) {
  background-color: rgb(207, 204, 204);
}
.darkmode-toggler-container input {
  width: 20px;
  height: 20px;
}


.dark body {
  background-color: #162447;
  color: antiquewhite;
}

.dark .product-card, .dark .product-card a {
  background-color: #1F4068;
}