/* containers */
.dark body {
  background-color: #162447;
  color: antiquewhite;
}
.dark .main-container {
  background: none;
  background-color: #162447 !important;
}

/* Form page elements */
.dark .card-container {
  background-color: #1F4068;
}
.dark .card-container .form-title {
  color: antiquewhite;
}

/* Product card */
.dark .product-card, .dark .product-card .item, .dark .product-card .item-img {
  background-color: #1F4068;
}
.dark .product-card a{
  color: antiquewhite;
}

/* Footer elements */
.dark footer {
  background-color: #1B1B2F;
}
.dark footer svg, .dark footer i{
  color: antiquewhite  !important;
  font-size: 100px;
}

/* Buttons */
.dark a.btn {
  background-color: #E43F5A;
}