/* Universal Styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

main {
  width: 100%;
  margin: 0 auto;
}

a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: black;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
}
a:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
  color: #57b846;
}

input {
  outline: none;
  border: none;
}
input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
input::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
input::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}


/* Containers */

.main-container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.first-section {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

/* ////////////////////////////////////////////////////////////////////// */
/* Card styles */
.card {
  border-radius: 10px;
  transition: 0.3s transform ease, 0.3s box-shadow ease;
  padding-top: 0em;
  height: 100%;
}
.card img {
  border-radius: 10px 10px 0px 0px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-body .btn {
  margin-top: auto;
  
}

/* Owl Carousel */
.owl-carousel .item {
  /* border: 1px solid black; */
  font-size: 24px;
  text-align: center;

}
.owl-carousel a.btn{
  padding: 10px;
}

.owl-next {
  float: right;
}
.owl-prev {
  float: left;
}
.owl-prev span {
  font-size: 24px;
  font-weight: bold;
}
.owl-next span {
  font-size: 24px;
  font-weight: bold;
}


.illustration-img {
  width: 400px;
  display: flex;
  align-items: center;
}

.illustration-img img {
  max-width: 100%;
}